html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
  // &:before {
  //   content: '';
  //   display: block;
  //   background: $grad;
  //   height: 10px;
  //   width: 100%;
  // }
}

.inner {
  position: absolute;
  z-index: 99;
  width:900px;
  left: 0;
  right: 0;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    width: 100%;
    padding: 2rem;
  }
}
