.map {
  background: black;
  box-shadow: $shad;
}

.overflow_override {
  overflow: visible !important;
}

//modified

.gm-style-iw {
  display: flex;
  align-items: center;
  justify-content: center;
}
#iw-container {
  .iw-content {
    position: relative;
    width: 380px;
  	height: 280px;
    margin: 6px -12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    p {
      z-index: 99;
      text-align: right;
      margin-right: 14px;
      background-color: $dk_black;
      color: white;
      padding: 0px 10px;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 380px;
      height: 280px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(45deg, #aab5b7 0%, rgba(5, 179, 214, 0) 70%), linear-gradient(135deg, #4b515d 10%, rgba(9, 88, 236, 0) 80%), linear-gradient(225deg, #998f9a 10%, rgba(210, 9, 236, 0) 80%), linear-gradient(315deg, #8a968c 100%, rgba(5, 225, 41, 0) 70%);
      opacity: 0.8;
      transition: opacity .3s linear;
      z-index: 1;
    }
    &:hover:before {
      opacity: 0;
    }
  }
}

@media all and (max-width: 650px) {
  #iw-container {
    .iw-content {
      width: 240px;
      height: 200px;
    &:before {
      display: none;
    }
    }
  }
}
