.map {
  background: black;
  box-shadow: $shad;
}
#map {
  height: 840px;
}

//modified

.gm-style-iw {

  display: flex;
  align-items: center;
  justify-content: center;
}
#iw-container {
  .iw-content {
    min-width: 200px;
  	min-height: 200px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0px 10px;
    }
  }
}
