extends layout

block content
  .gen
    h2 #{title}
    .gen__details
      p Stone Women is an ongoing project dedicated to documenting Norway's publicly displayed  artistic representations of the female form.

      p.subtitle I would like to add a sculpture to Stone Women.
      p We're so happy you'd like to contribute. Please visit the "Add a Statue" page to learn more.

      p.subtitle I am an artist who would like to be listed (or is currently listed) on Stone Women.
      p Welcome! Feel free to reach out to us - we'd love to hear your feedback on the project or discuss the possibility of future collaborations.

      p.subtitle I would like to contribute in some other way.
      p Please reach out here. We'd love to hear from you.

      p.subtitle I want to bring the Stone Women Project to my area.
      p Thanks for your interest! Currently, we're focused on our effort to document Norway's large collection of female sculptures, but we hope to expand to other countries in the future. Feel free to contact us in the meantime so we can gauge expansion interest.
